@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');

:root {
	--char: #f1d248;
	--c1: #e7ebf0;
	--c2: #2c7ec0;
	--c3: #002d8d;
	--bg: #11264d;
}

* {
	transition: all .2s;
	font-family: "VT323";
	font-size: 22px;
}

header {
	background-color: var(--c1);
	border: 7px double var(--c2);
	color: var(--c3);
	border-radius: 2px;
	grid-area: head;
	padding: 0 15px;
	display: flex;
	gap: 25px;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

button {
	background-color: var(--c1);
	border: 5px double var(--c2);
	padding: 5px;
	color: var(--c3);
	align-content: center;
	border-radius: 3px;
}

#bFlash, #bNormal, #bPause{
	padding: auto;
	height: 50px;
	width: 50px;
}

.material-symbols-outlined {
	color: var(--c3);
}

button:hover {
	background-color: var(--c2);
	border-color: var(--c3);
	color: var(--c1);
}

button:hover span {
	color: var(--c1);
}

button:disabled {
	background-color: var(--c3);
	border-color: var(--c2);
	color: var(--c1);
}

button:disabled span {
	color: var(--c1);
}

header a {
	color: var(--c3);
	text-decoration: none;
}

#selectOtroOC {
	margin: auto;
	grid-area: sele;
}

#char {
	grid-area: char;
	background-color: var(--char);
	margin: auto;
	width: 70%;
	height: 100%;
	max-width: unset;
	padding: 20px;
	box-sizing: border-box;
}

#statCurOC {
	margin: auto;
	grid-area: stat;
}

#noti {
	grid-area: noti;
}

#chat {
	grid-area: chat;
}

#selectOtroOC, #statCurOC, #chat, #noti {
	background-color: var(--c1);
	border: 7px double var(--c2);
	color: var(--c3);
	border-radius: 2px;
	text-align: center;
	font-family: "Pixelify Sans";
	font-size: 24px;
	padding: 10px;
	padding-top: 25px;
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	overflow: auto;
}

body {
	background-color: var(--bg);
	display: grid;
	height: 945px;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	gap: 10px;
	grid-template-columns: 1.5fr .5fr 1.5fr 1fr 1fr;
	grid-template-rows: 80px 1fr 350px;
	grid-template-areas:
		"head head head head head"
		"sele sele char stat stat"
		"noti chat chat chat chat";
}